<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>OddEvenGame_real.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B29969F27E5E01000DCCF16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B2996B527E5E01600DCCF16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B2996BF27E5E01600DCCF16</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
